.logoCarrito {
    float: right;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(40, 97, 204);
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logoCarrito:hover {
color: white;
text-decoration: underline;
}